<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="css/application.css" type="text/css"> 
		<title>Bit.ly Clone</title>
		<script
  		src="https://code.jquery.com/jquery-3.2.0.js"
  		integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
  		crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/application.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="tophalf">
			<div class="row top">
				<div class="col-sm-1" ></div>
					<h1 class="font-italic">bitly</h1>
			</div>
				
			<div class="middle second"> 
				<div class="row justify-content-md-center">
					<h2><strong>Shortening your links right here at Bitly</strong></h2>
				</div>
			<%= yield %>

			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>